@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/grid/columns.sass";
@import "../../node_modules/bulma/sass/elements/tag.sass";

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  /* max-width: 38rem; */
  /* padding: 0rem 2rem 2rem 2rem; */
}

$title-bar-height: 1.8rem;

.titlebar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: $title-bar-height;
  margin-left: 2rem;
  text-align: center;
  font-size: 12px;
  -webkit-app-region: drag;
  user-select: none;
  color: rgb(108, 122, 137);
}

.contents {
  // @extend .row;
  // @extend .d-flex;
  // @extend .align-items-stretch;
  display: flex;
  height: 100vh;
}

$sidebar-width: 300px;

.sidebar {
  // @extend .col-md-4;
  // position: fixed;
  background-color: $light;
  width: $sidebar-width;
  min-width: $sidebar-width;
  padding-top: 50px;
  li {
    display: flex;
    align-items: center;
    p {
      margin-bottom: 0;
      margin-left: 5px;
    }
  }
  .indicator {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    &.red {
      background-color: hsl(0, 100%, 80%);
      border: 1px solid hsl(0, 100%, 50%);
    }
    &.blue {
      background-color: hsl(241, 100%, 80%);
      border: 1px solid hsl(241, 100%, 50%);
    }
    &.yellow {
      background-color: hsl(54, 100%, 80%);
      border: 1px solid hsl(54, 100%, 50%);
    }

  }
}


$bubble-height: 10px;

.timeline-view {
  width: calc(100vw - #{$sidebar-width});
  overflow: auto;

  line {
    // stroke: $gray-800;
    stroke-width: 0.3;
  }
}


.bubble {
  height: $bubble-height;
  // width: 100px;
  // fill: $gray-200;
  rx: 6px;
  stroke-linecap: round;
  stroke-width: 10px !important;
}

.axis path,
.axis line {
  stroke: black;
}

.axis text {
  fill: black;
}

.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.item {
  height: 20px;
  display: flex;
  margin-bottom: 5px;
}

.indicator {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.name {
  margin: 0;
  font-family: -apple-system, Helvetica, Arial, sans-serif;
  margin-left: 20px;
}
