// @import "../../node_modules/bulma/sass/utilities/_all.sass";
// @import "../../node_modules/bulma/sass/base/_all.sass";
// @import "../../node_modules/bulma/sass/grid/columns.sass";
// @import "../../node_modules/bulma/sass/elements/icon.sass";
// @import "../../node_modules/bulma/sass/elements/tag.sass";
// @import "../../node_modules/bulma/sass/elements/button.sass";
// @import "../../node_modules/bulma/sass/elements/other.sass";
// // @import "../../node_modules/bulma/sass/form/shared.sass";
// // @import "../../node_modules/bulma/sass/form/tools.sass";
// @import "../../node_modules/bulma/sass/form/_all.sass";

@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/components/_all.sass";
@import "../../node_modules/bulma/sass/elements/_all.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import "../../node_modules/bulma/sass/layout/_all.sass";


$purple: #715CF9;
$purple-shade: #F0F0FE;
$blue: #23B2FE;
$blue-shade: #E9F7FE;
$green: #00D692;
$green-shade: #E9FBF4;
$yellow: #FEBC2D;
$yellow-shade: #FFF8EC;
$red: #E4525A;
$red-shade: #FCEEEF;
$magenta: #DD0C75;
$magenta-shade: #FBE8F1;
$peach: #FF6577;
$peach-shade: #FFF0F2;
$mauve: #B56EF5;
$mauve-shade: #F3E6FD;

$black: #00004C;
$white: #FFFFFF;

$grey-lightest: #F3F3F6;
$grey-lighter: #E2E2E9;
$grey: #C9C9D4;
$grey-darker: #B5B5BF;
$grey-dark: #797986;
$grey-darkest: #4C4C57;

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  /* max-width: 38rem; */
  /* padding: 0rem 2rem 2rem 2rem; */
}

// $title-bar-height: 1.8rem;

// .titlebar {
//   display: flex;
//   justify-content: center;
//   align-items: flex-end;
//   height: $title-bar-height;
//   margin-left: 2rem;
//   text-align: center;
//   font-size: 12px;
//   -webkit-app-region: drag;
//   user-select: none;
//   color: rgb(108, 122, 137);
// }

.contents {
  // @extend .row;
  // @extend .d-flex;
  // @extend .align-items-stretch;
  @extend .columns;
  height: 100vh;
  width: 100vw;
}

$sidebar-width: 300px;

.sidebar {
  // @extend .col-md-4;
  // position: fixed;
  @extend .has-background-white-ter;
  @extend .column;
  @extend .is-one-fifth;
  // width: $sidebar-width;
  min-width: $sidebar-width;
  padding-top: 50px;
  padding-left: 25px;
  li {
    display: flex;
    align-items: center;
    p {
      margin-bottom: 0;
      margin-left: 5px;
    }
  }
  .indicator {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    &.red {
      background-color: hsl(0, 100%, 80%);
      border: 1px solid hsl(0, 100%, 50%);
    }
    &.blue {
      background-color: hsl(241, 100%, 80%);
      border: 1px solid hsl(241, 100%, 50%);
    }
    &.yellow {
      background-color: hsl(54, 100%, 80%);
      border: 1px solid hsl(54, 100%, 50%);
    }

  }
}

.coding-scheme {
  .coding-group {
    @extend .field;
    .coding-group-label {
      @extend .label;
      @extend .is-small;
    }
    .code-type {
      // @extend .tags;
      @extend .has-addons;
      .code-indicator {
        //@extend .is-warning;
        background-color: $purple;
        cursor: pointer;
        transition: background-color 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
        &.deselected {
          //background-color:
          background-color: $purple-shade;
        }
      }
      .code-label {
        // @extend .has-background-white-bis;
        background-color: $grey-lightest;
      }
    }
  }
}

.filters {
  @extend .field;
}

.tags:not(:last-child) {
    margin-bottom: 0rem;
}

.control {
  .icon {
    cursor: pointer;
    pointer-events: all !important;
  }
}

.filters {
  @extend .field;
  margin-top: 20px;
  .word-filters {
    @extend .tags;
    margin-top: 5px;
    .word-filter {
      @extend .tag;
      @extend .is-rounded;
      @extend .is-info;
    }
  }
}



$bubble-height: 10px;

.timeline-view {
  // width: calc(100vw - #{$sidebar-width});
  // overflow: auto;
  @extend .column;
  overflow: hidden;

  .axis {
    // stroke: $gray-800;
    stroke-width: 0.3;
  }
}

.tooltip {
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  max-width: 350px;
  border-radius: 10px;
  padding: 10px;
  padding-top: 5px;
  .participant {
    position: relative;
    // background-color: #B030B0;
    min-width: 40px;
    max-height: 40px;
    border-radius: 20px;
    margin-top: 5px;
    margin-right: 10px;
    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.6em;
    }
  }
  span {
    color: #DBD8E3;
    text-transform: uppercase;
    font-size: 0.7em;
  }
}


.bubble {
  // width: 100px;
  // --gradient-color: red;
  // fill: url(#gradient-silver);
  stroke-linecap: round;
  // stroke-width: 20px !important;

}

.yellow {
  --gradient-color: yellow;
}

.axis path,
.axis line {
  stroke: black;
}

.axis text {
  fill: black;
}

.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.selection {
  fill: #E9F7FE;
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
  z-index: -10;
}

.item {
  height: 20px;
  display: flex;
  margin-bottom: 5px;
}

.indicator {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.name {
  margin: 0;
  font-family: -apple-system, Helvetica, Arial, sans-serif;
  margin-left: 20px;
}
