// @import "../../node_modules/bulma/sass/utilities/_all.sass";
// @import "../../node_modules/bulma/sass/base/_all.sass";
// @import "../../node_modules/bulma/sass/grid/columns.sass";
// @import "../../node_modules/bulma/sass/elements/icon.sass";
// @import "../../node_modules/bulma/sass/elements/tag.sass";
// @import "../../node_modules/bulma/sass/elements/button.sass";
// @import "../../node_modules/bulma/sass/elements/other.sass";
// // @import "../../node_modules/bulma/sass/form/shared.sass";
// // @import "../../node_modules/bulma/sass/form/tools.sass";
// @import "../../node_modules/bulma/sass/form/_all.sass";

@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/components/_all.sass";
@import "../../node_modules/bulma/sass/elements/_all.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import "../../node_modules/bulma/sass/layout/_all.sass";


$purple: #715CF9;
$purple-shade: #F0F0FE;
$blue: #23B2FE;
$blue-shade: #E9F7FE;
$green: #00D692;
$green-shade: #E9FBF4;
$yellow: #FEBC2D;
$yellow-shade: #FFF8EC;
$red: #E4525A;
$red-shade: #FCEEEF;
$magenta: #DD0C75;
$magenta-shade: #FBE8F1;
$peach: #FF6577;
$peach-shade: #FFF0F2;
$mauve: #B56EF5;
$mauve-shade: #F3E6FD;

$black: #00004C;
$white: #FFFFFF;

$grey-lightest: #F3F3F6;
$grey-lighter: #E2E2E9;
$grey: #C9C9D4;
$grey-darker: #B5B5BF;
$grey-dark: #797986;
$grey-darkest: #4C4C57;

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  /* max-width: 38rem; */
  /* padding: 0rem 2rem 2rem 2rem; */
}

// $title-bar-height: 1.8rem;

// .titlebar {
//   display: flex;
//   justify-content: center;
//   align-items: flex-end;
//   height: $title-bar-height;
//   margin-left: 2rem;
//   text-align: center;
//   font-size: 12px;
//   -webkit-app-region: drag;
//   user-select: none;
//   color: rgb(108, 122, 137);
// }

.contents {
  // @extend .row;
  // @extend .d-flex;
  // @extend .align-items-stretch;
  // @extend .columns;
  display: flex;
  // flex-direction: column;
  // height: 100vh;
  // width: 100vw;
  margin: 0 !important;
}

$sidebar-width: 250px;

.sidebar {
  // @extend .col-md-4;
  flex: 1;
  width: 20vw;
  @extend .has-background-white-ter;
  // @extend .column;
  // @extend .is-one-fifth;
  // height: 100%;
  max-width: $sidebar-width;
  // display: none;
  .sidebar-contents {
    position: fixed;


    // width: $sidebar-width;

    padding-top: 50px;
    padding-left: 25px;
    li {
      display: flex;
      align-items: center;
      p {
        margin-bottom: 0;
        margin-left: 5px;
      }
    }
    .indicator {
      width: 14px;
      height: 14px;
      border-radius: 7px;
      &.red {
        background-color: hsl(0, 100%, 80%);
        border: 1px solid hsl(0, 100%, 50%);
      }
      &.blue {
        background-color: hsl(241, 100%, 80%);
        border: 1px solid hsl(241, 100%, 50%);
      }
      &.yellow {
        background-color: hsl(54, 100%, 80%);
        border: 1px solid hsl(54, 100%, 50%);
      }

    }
  }


}

.focus {
  display: none;
}

.coding-scheme {
  .coding-group {
    @extend .field;
    .coding-group-label {
      @extend .label;
      @extend .is-small;
    }
    .code-type {
      @extend .has-addons;
      .code-indicator {
        background-color: $purple;
        cursor: pointer;
        transition: background-color 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
        &.deselected {
          background-color: $purple-shade;
        }
      }
      .code-label {
        background-color: $grey-lightest;
      }
    }
    &.inference-types {
      .code-indicator {
        background-color: $grey;
      }
      &.deselected {
        background-color: $grey-lightest;
      }
    }
    &.inference-subtypes {
      .code-indicator {
        background-color: $green;
      }
      &.deselected {
        background-color: $green-shade;
      }
    }

  }
}

.filters {
  @extend .field;
}

.tags:not(:last-child) {
    margin-bottom: 0rem;
}

.control {
  .icon {
    cursor: pointer;
    pointer-events: all !important;
  }
}

.filters {
  @extend .field;
  margin-top: 20px;
  .word-filters {
    @extend .tags;
    margin-top: 5px;
    .word-filter {
      @extend .tag;
      @extend .is-rounded;
      @extend .is-info;
    }
  }
}



$bubble-height: 10px;

.timeline-view {
  // width: calc(100vw - #{$sidebar-width});
  // overflow: auto;
  // @extend .column;
  flex: 3;
  // overflow: hidden;
  // height: auto;
  // position: relative;


  .timeline {
    width: 100%;
    // height: 100px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    // background-color: $grey-lighter;
    .controls {
      span {
        margin-right: 5px;
        cursor: pointer;
        i {
          font-size: 20px;
          color: $grey-dark;
        }
      }
    }
    svg {
      width: 100%;
      line {
        shape-rendering: crispEdges;
      }
    }

  }

.material-icons {
  font-family: 'Material Icons Outlined';//, 'Material Icons';
}

  .wrapper {
    // position: absolute;
    // display: block;
    overflow: scroll;
    display: none;
  }

  .axis {
    // stroke: $gray-800;
    stroke: #E2E2E9;
    stroke-width: 0.3;
  }
}

.tippy-tooltip.stats-theme {
  color: #26323d;
  box-shadow: 0 0 20px 4px rgba(154, 161, 177, 0.45);
    // 0 2px 80px -20px rgba(36, 40, 47, 0.25),
    // 0 2px 4px -2px rgba(91, 94, 105, 0.15);
  background-color: white;
}

.tippy-tooltip.stats-theme[data-placement^='top'] .tippy-arrow {
  border-top-color: white;
}
.tippy-tooltip.stats-theme[data-placement^='bottom'] .tippy-arrow {
  border-bottom-color: white;
}
.tippy-tooltip.stats-theme[data-placement^='left'] .tippy-arrow {
  border-left-color: white;
}
.tippy-tooltip.stats-theme[data-placement^='right'] .tippy-arrow {
  border-right-color: white;
}

.tippy-tooltip.stats-theme .tippy-content {
  div {
    padding: 5px;
    li {
      list-style: none;
      margin-bottom: 1px;
      span {
        float: right;
      }
      .value {
        margin-left: 30px;
      }
      &#heading {
        font-size: 10px;
      }
      .space {
        font-size: 9px;
      }
      &.l1 {
        font-weight: 500;
        font-size: 12px;
      }
      &.l2 {
        padding-left: 5px;
        font-size: 12px;
      }
      &.l3 {
        padding-left: 10px;
        font-size: 10px;
      }
      .total {
        color: #bbbbbb;
      }
    }
  }

}


//
// .tooltip {
//   display: flex;
//   background-color: rgba(0, 0, 0, 0.8);
//   color: white;
//   max-width: 350px;
//   border-radius: 10px;
//   padding: 10px;
//   padding-top: 5px;
//   .participant {
//     position: relative;
//     // background-color: #B030B0;
//     min-width: 40px;
//     max-height: 40px;
//     border-radius: 20px;
//     margin-top: 5px;
//     margin-right: 10px;
//     p {
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       transform: translate(-50%, -50%);
//       font-size: 1.6em;
//     }
//   }
//   span {
//     color: #DBD8E3;
//     text-transform: uppercase;
//     font-size: 0.7em;
//   }
// }

#tooltip {
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 13px;
  display: none;
}

#tooltip[data-show] {
  display: initial;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: -1;
}

#arrow::before {
  content: '';
  transform: rotate(45deg);
  background: #333;
}

#tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^='right'] > #arrow {
  left: -4px;
}


.bubble {
  // width: 100px;
  // --gradient-color: red;
  // fill: url(#gradient-silver);
  // stroke-linecap: round;
  // stroke-width: 20px !important;

}

.yellow {
  --gradient-color: yellow;
}

.axis path,
.axis line {
  stroke: #E2E2E9;
}

.axis text {
  fill: #E2E2E9;
}

.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.selection {
  fill: $green;
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
  z-index: -10;
}

.item {
  height: 20px;
  display: flex;
  margin-bottom: 5px;
}

.indicator {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.name {
  margin: 0;
  font-family: -apple-system, Helvetica, Arial, sans-serif;
  margin-left: 20px;
}
